/* Fonts */
.font-vt323 {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; 
  font-style: normal;
}